<div class="home-image"></div>

  <div class="container">
    <div class="heading text-center" style="color: #D2691E;">
        <div class="my-5"><h1 style="font-size: 70px; font-family:cursive;">〜Nagano cake〜</h1></div>

        <p>ようこそNaganoCakeへ！当店はフレッシュな素材を使ったケーキ販売を行っております。
        <br>「お客様に美味しいケーキをお届けしたい」という、素直な思いから妥協のない原材料を贅沢に使用し、<br>幅広い年齢層のお客様に好まれる商品に仕上げています。
        </p>
    </div>
    <div style="margin-top: 20px; color: red;" class="text-center">※管理人ページ（ログインしてください）</div>

    <div style="margin-top: 20px;">
      <div class="row justify-content-center">
        <div class="col-5"><a class="btn btn-success btn-sm btn-block sign_up" href="/customers/sign_up">Sign Up</a></div>
        <div class="col-5 col-offset-2"><a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/customers/sign_in">Log in</a></div>
      </div>
    </div>


  </div>

