
<div class="container">
  <div class="row">
  
  <div class="offset-lg-4 offset-md-2 mx-auto">
    <h3 class="mt-5 mb-3 headline" style="background-color: ;">管理者ログイン</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table table-sm table-borderless">
     <tr>
       <td scope="col">メールアドレス</td>
       <td scope="col"><%= f.email_field :email, autofocus: true, autocomplete: "email",size:"40px" %></td>
     </tr>
     <tr>
       <td>パスワード</td>
       <td><%= f.password_field :password, autocomplete: "current-password",size:"40px" %></td>
     </tr>
     <tr><td></td></tr>
     <tr>
       <td></td>
       <td><%= f.submit 'ログイン', class: "btn btn-primary" %></td>
     </tr>
    </table>
  <% end %>
  </div>
  </div>
</div>  

