<div class="home-image"></div>

  <div class="container">
    <div class="heading text-center" style="color: #D2691E;">
        <div class="my-5"><h1 style="font-size: 70px;">〜Nagano cake〜</h1></div>

        <p>ようこそ、ながのCAKEへ！
          <br>このサイトは、ケーキ販売のECサイトになります。
          <br>会員でない⽅も商品の閲覧はできますが、
          <br>購⼊には会員登録が必要になります。
        </p>
    </div>


    <div style="margin-top: 20px;">
      <h1>新着商品</h1>
      <ul class="itemSlides ">
          <% @items.each do |item| %>
  				  <li class="item">
  				    <%= link_to(item_path(item),class:"text-dark") do %>
  				    <div class="item">
                <%= attachment_image_tag item, :image,:fill,190,150, size: "190×150", fallback: "no_image.jpg", format: "jpeg" %>
              </div>
              	<div class="credit mx-3 my-2">
              		<div class="itemName"><%= item.item_name %></div>
              		<div class="price">¥<%= number_to_currency(item.price) %>+税</div>
              	</div>
              <% end %>	
              </a>
            </li>
          <% end %>
      </ul>
    </div>
    <a class="toIndex mb-3" style="float: right; color: black;" href="/items">全ての商品を見る></a>

  </div>




