    <div class="container">

		<section class="contentBlock">
			    <div class="itemSlidesWrapper mt-3">
					<h3>製品一覧</h3>


          <ul class="itemSlides ">
            
  				  <li class="item">
  				    <a style="color: black;" href="#">
  				    <div class="item">
              <%= image_tag 'eggs.jpeg', :width => '300', :height => '300' %>
              </div>  
              	<div class="credit mx-3 my-2">
              		<div class="edition">
                    <span class="list-item__icon">Limited</span>
                  </div>
              		<div class="itemName">【NaganoCake限定】産地直送卵</div>
              		<div class="price">¥2,000+税</div>
              	</div>
              </a>
            </li>
            
  				  <li class="item">
  				    <a style="color: black;" href="#">
  				    <div class="item">
              <%= image_tag 'eggs.jpeg', :width => '300', :height => '300' %>
              </div>  
              	<div class="credit mx-3 my-2">
              		<div class="edition">
                    <span class="list-item__icon">Limited</span>
                  </div>
              		<div class="itemName">【NaganoCake限定】産地直送卵</div>
              		<div class="price">¥2,000+税</div>
              	</div>
              </a>
            </li>
            
            <li class="item">
  				    <a style="color: black;" href="#">
  				    <div class="item">
              <%= image_tag 'eggs.jpeg', :width => '300', :height => '300' %>
              </div>  
              	<div class="credit mx-3 my-2">
              		<div class="edition">
                    <span class="list-item__icon">Limited</span>
                  </div>
              		<div class="itemName">【NaganoCake限定】産地直送卵</div>
              		<div class="price">¥2,000+税</div>
              	</div>
              </a>
            </li>

          </ul>
				</div>
			</section>
		</div>