/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-link {
  font-size: 20px;
}

.navbar {
  background-color: #A9A9A9;
}


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  background-color: #A9A9A9;
  color: white;
  margin-top: auto;
}

.headline{
	padding: 2px 20px;
	font-size: x-large;
	display: inline-block;
  background-color: rgba($color: #b3b3b3, $alpha: 0.5);
  width: auto;
  text-align: center;
}

.active {
  background-color: #F0EDEC;
}

.actions{
	text-align: center;
}

.forget-password{
	text-align: right;
}

.table-no-border td{
  border: none!important;
  padding: 6px;
}

.pagination {
  justify-content: center;
}

/* flash  */

.flash {
  margin: 0 auto;
  color: green;
  background-color: #F5FFFA;
  width: 100%;
  text-align: center;
}

/*error */

.error-explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 33px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-explanation h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 33px;
    background-color: #c00;
    color: #fff;
}

.error-explanation li {
    font-size: 12px;
    margin: 0 33px;
}
 
