// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fas {
  margin-right: 5px;
}

.home-image {
  height: 400px;
  background-image: url("main_top_03.jpg");
  background-size: cover;
}

.about-image1 {
  height: 400px;
  background-image: url("milk.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

