<div class="container">
    <div class="mt-3 text-center">
        <p>こだわり</p>
        <h2>素材・製法</h2>
        <p>素材は、おいしさの原点。<br>厳選した新鮮素材と素材を最大限に活かす製法により、安全・安心でおいしいケーキをお届けします。</p>
    </div>
</div>

<div class="about-image1" style="padding: 100px 180px; color: #444444;">
    <h3>しぼりたて牛乳</h3>
    <p>長野の大自然で育った牛の生乳を毎日工場へ直送。
    <br>牛乳本来の風味を損なわないよう、
    <br>時間をかけて低温殺菌し、
    <br>ケーキづくりに使用しています。</p>
</div>
<div class="about-image2" style="padding: 100px 180px; color: #FFF5EE;">
    <h3>うみたて卵</h3>
    <p>毎日契約農家から届けられるうみたて卵。
    <br>自社工場で割卵し、すぐにお菓子にしています。
    <br>新鮮な卵の力で安全・安心なお菓子をつくるため、
    <br>地元長野を中心に近県から調達しています。</p>
</div>
<div class="about-image3" style="padding: 100px 180px; color: #FFF5EE;">
    <h3>白州名水</h3>
    <p>飲料水としても人気の高い白州名水を使い
    <br>ケーキづくりを行っています。</p>
</div>
<div class="about-image4" style="padding: 100px 180px; color: black;">
    <h3>産地直送いちご</h3>
    <p>一年を通して高品質な苺を
    <br>産地から直接仕入れ
    <br>ケーキづくりに使用しています</p>
</div>

